<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/Users/makaiharris/Documents/GA/SEI/projects/flikr/public/style.css">
    </head>
    <body>
        <div>
            <nav>
                <a href="">Flikr</a>
                <input type="search">
                <button>Login</button>
                <button>Sign up</button>
                <img src="" class="user-icon">
            </nav>

            <main>
                <div class="add-post-container">
                    <h2>Create a Review</h2>
                    <button>+</button>
                </div>
                <div class="post-container">
                    <h5 class="username">Username</h5>
                    <p class="post-date">Posted July 22</p>
                    <h2>I love you man</h2>
                    <p class="rating">9.5/10</p>
                    <p>Title</p>
                    <p>description</p>
                    <div>
                        <img src="" class="like-icn">
                        <p>204</p>
                    </div>
                    <a href="">
                        <div>
                            <img src="" class="comment-icn">
                            <p>8</p>
                        </div>
                    </a>
                    <img src ="" class="movie-poster">
                </div>
            </main>
        </div>
        
        <script src="" async defer></script>
    </body>
</html>