<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/Users/makaiharris/Documents/GA/SEI/projects/flikr/public/style.css">
    </head>
    <body>
        <div>
            <nav>
                <a href="">Flikr</a>
                <input type="search">
                <button>Login</button>
                <button>Sign up</button>
                <img class="user-icon">
            </nav>

            <main>
                <div>
                    <h2>Create a Review</h2>
                    <button>+</button>
                </div>
            </main>
        </div>
        
        <script src="" async defer></script>
    </body>
</html>