@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');
@import url("https://use.typekit.net/ujy8mxc.css");

        /* ======== Standard ======== */

        * {
            margin: 0;
            padding: 0;
            line-height: 1;
        }

        :root {
            --red: #C20000;
            --black: #090909;
            --card: #14100F;
            --white: white;
            --p: rgba(255, 255, 255, .75);
        }

        a {
            color: inherit;
            text-decoration: none;
            cursor: pointer;

        }

        body {
            background-color: #820902;
            color: var(--white);
            font-family: neue-haas-grotesk-text, sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 14px;
            cursor: auto;
        }


        h2 {
            font-family: neue-haas-grotesk-display, sans-serif;
            font-weight: 500;
            font-style: normal;
            font-size: 32px;
            line-height: 1;
            margin-bottom: 24px;
        }

        p {
            color: var(--p);
            line-height: calc(14px * 1.45);
        }


        main {
            max-width: 720px;
            margin: 0 auto;
            padding: 88px 0 0 0;
        }

        button {
            padding: 8px 12px;
            border: 1px solid var(--white);
            border-radius: 999px;
            background-color: transparent;
            color: var(--white);
            cursor: pointer;
        }

        ul {
            list-style-type: none;
        }

        /* ======== New body ======== */

        .inner-body {
            background-color: var(--black);
            min-height: 100vh;
            height: 100%;
            border-radius: 64px 64px 0 0;
            padding: 24px 88px;
            position: relative;

        }

        .outter-body {
            padding: 32px 0px 0px 0px;
            height: 100%;
            
        

        }
        .outter-body.black {
            background-color: black;
        

        }

        /* ======== Nav ======== */

        nav {
            display: flex;
            justify-content: space-between;
            max-width: 1200px;
            margin: 0 auto;
            position: sticky;
            z-index: 999;
            top: 56px;
        }

        nav div {
            flex-grow: 1;
            width: calc(100%/3);
        }

        .logo {
            text-decoration: none;
            color: var(--white);
            font-size: 36px;
            font-weight: 500;
            font-family: 'Space Grotesk', sans-serif;
        }

        .user-icon {
            display: hidden;
        }

        .login-btn-container {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }

        .google-btn {
            display: inline;
            width: auto;
            margin-left: auto;
            flex-shrink: 1;
            border: 1px solid var(--white);
            border-radius: 999px;
        }

        .sign-out {
            display: inline;
            width: auto;
            margin-left: auto;
            flex-shrink: 1;
        }

        /* ======== Search Bar ======== */

        /* .search-container {
            position: relative;
        }

        .search-icon {
            position: absolute;
            top: 12px;
            right: 16px;
        }

        input[type="search"] {
            background-color: var(--black);
            border-radius: 999px;
            border: 1px solid var(--red);
            padding: 16px 8px 16px 24px;
            width: 100%;
            color: var(--red);
            outline: none;
        }

        input[type="search"]::-webkit-input-placeholder {
            color: var(--red);
        }

        input[type="search"]::-webkit-search-decoration,
        input[type="search"]::-webkit-search-cancel-button,
        input[type="search"]::-webkit-search-results-button,
        input[type="search"]::-webkit-search-results-decoration {
            display: none;
        } */

        /* ======== Add post ======== */

        .add-post-container {
            background-color: var(--card);
            padding: 8px 8px 8px 16px;
            border-radius: 6vw;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .add-post-container h2 {
            line-height: 1;
            margin: 0;
        }

        .add-post-btn {
            border-radius: 999px;
            width: 36px;
            height: 36px;
            background-color: var(--white);
            color: var(--red);
            font-size: 24px;
            border: none;
            line-height: 0;

        }

        /* ======== Post card ======== */

        .post-container {
            background-color: var(--card);
            border-radius: 16px;
            padding: 24px;
        }

        .post-copy {
            position: relative;
        }

        .flex {
            display: flex;
            justify-content: space-between;
        }

        .card-btn {
            cursor: pointer;
        }

        .post-subheader {
            margin-bottom: 16px;
        }

        .username {
            color: var(--p);
            font-size: 12px;
            display: inline;
            margin-right: 8px;
        }

        .text-white {
            color: white;
        }

        .post-date {
            font-size: 12px;
            color: var(--p);
            display: inline-block;
        }

        .movie-title {
            display: inline-block;
            margin-right: 8px;
            color: white;
        }

        .rating {
            display: inline-block;
            color: var(--white);
        }

        .rating-circle {
            width: 56px;
            height: 56px;
            background-color: var(--red);
            border-radius: 999px;
            position: absolute;
            bottom: -32px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .post-title {
            margin-bottom: 12px;
            font-size: 20px;
        }

    .post-btns-container {
        display: flex;
        justify-content: end;
        margin-top: 16px;
    }

        .post-btn-wrap {
            display: inline-flex;
            margin-right: 16px;
            width: auto;
            border-radius: 12px;
            justify-content: center;
            align-items: center;
        }

        .post-btn-wrap.white-bg {
            background-color: transparent;
        }
        .post-btn-wrap.white-bg a{
            margin-left: 8px;
            margin-right: 0px;
        }

        .post-btn-wrap img{
            margin-right: 8px;
        }

        .absolute {
            position: absolute;
        }

        .top-right-8px{
            top: 8px;
            right: 8px;
        }

        .bottom-left{
            bottom: 0px;
            left: 0px;
        }

        .movie-poster {
            width: 172px;
            height: 232px;
            align-self: center;
            margin-left: 8px;
            border-radius: 8px;
        }

        .margin-bottom-8{ 
            margin-bottom: 8px;
        }
        
        .margin-bottom-16 {
            margin-bottom: 16px;
        }
        
        .margin-bottom-24 {
            margin-bottom: 24px;
        }

        .margin-bottom-32 {
            margin-bottom: 32px;
        }
        
        .margin-bottom-40 {
            margin-bottom: 40px;
        }

        .post-container-hero {
            border-radius: 16px;
            min-height: 360px;
            width: 100%;
            background-image: url('/public/images/mesh-gradient.png');
            background-size: cover;
            background-position: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            
        }

        /* ==== comment section ==== */
        #add-comment-form {
            position: relative;
        }


        #add-comment {
            width: calc(100% - 16px);
            background-color: transparent;
            border: 1px solid #404040;
            border-radius: 8px;
            outline: none;
            color: var(--p);
            font-family: neue-haas-grotesk-text,sans-serif;
            font-weight: 400;
            font-style: normal;
            line-height: 22px;
            padding: 8px;
            
        }

        #add-comment::-webkit-input-placeholder {
            color: #858585;
        }

        .form-btn {
            padding: 8px 12px;
            border: none;
            border-radius: 999px;
            background-color: transparent;
            background-color: var(--red);
            color: var(--white);
        }

        .bottom-right{
            bottom: 8px;
            right: 8px;
        }

        /* ==== Create Review Form ==== */

        input[type="text"], select, textarea{
            display: block;
            margin-bottom: 16px;
            background-color: transparent;
            border: 1px solid #404040;
            border-radius: 16px;
            padding: 16px;
            outline: none;
        }
        input[type="text"], textarea {
            width: calc(100% - 32px);
            color: white;
        }

        select {
            width: 100%;
            color: #404040;
        }

        ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: #404040;
          }
          ::-moz-placeholder { /* Firefox 19+ */
            color: #404040;
          }
          :-ms-input-placeholder { /* IE 10+ */
            color: #404040;
          }
          :-moz-placeholder { /* Firefox 18- */
            color: #404040;
          }

        .big-red{
            width: 100%;
            background-color: var(--red);
            border: none;
            padding: 16px;
        }
        
          




